### Transform and Apply a function

In [3]:
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

import pyspark.pandas as ps

In [7]:
psdf = ps.DataFrame({'a': range(1, 4), 'b': range(4, 7)})
psdf

   a  b
0  1  4
1  2  5
2  3  6

In [12]:
def pandas_plus(pser):
    return pser + 1 # should always return the same length as input

psdf.transform(pandas_plus)

   a  b
0  2  5
1  3  6
2  4  7

In [9]:
psdf = ps.DataFrame({'a': range(1, 4), 'b': range(4, 7)})
psdf

   a  b
0  1  4
1  2  5
2  3  6

In [10]:
def pandas_plus(pser):
    return pser[pser % 2 == 1] #always an arbitrary length

psdf.apply(pandas_plus)

     a    b
0  1.0  NaN
1  NaN  5.0
2  3.0  NaN

In [13]:
psdf = ps.DataFrame({'a': range(1, 4), 'b': range(4, 7)})

def pandas_plus(pser):
    return sum(pser) #allows an arbitrary length

psdf.apply(pandas_plus, axis='columns')

0    5
1    7
2    9
dtype: int64