In [3]:
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

import pyspark.pandas as ps

In [4]:
psdf = ps.range(10)
type(psdf)

pyspark.pandas.frame.DataFrame

In [11]:
pdf = psdf.to_pandas()
type(pdf)

pandas.core.frame.DataFrame

In [6]:
pdf.values

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]], dtype=int64)

In [8]:
psdf = ps.from_pandas(pdf)
type(psdf)

pyspark.pandas.frame.DataFrame

In [23]:
psdf

   id
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9

In [19]:
sdf = psdf.to_spark()
sdf.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [15]:
sdf.filter('id > 5').show()

+---+
| id|
+---+
|  6|
|  7|
|  8|
|  9|
+---+

In [26]:
# convert Spark DataFrame to pandas-on-spark DataFrame
psdf = sdf.to_pandas_on_spark()
type(psdf)

pyspark.pandas.frame.DataFrame

In [28]:
psdf

   id
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9