### PySpark DataFrames
* filter operation
* &,|,==
* ~

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
        .builder \
        .appName('filter_operation') \
        .getOrCreate()

In [4]:
df = spark.read.csv('test_dataset_03.csv', header=True, inferSchema=True)
df.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Tarek| 23|         5| 30000|
|  Forid| 24|         8| 25000|
|  Ridoy| 24|        10| 20000|
|  Imran| 25|         7| 20000|
| Saiful| 27|         4| 15000|
|   Mitu| 23|         2| 18000|
|Khadiza| 27|         9| 48000|
|   Ritu| 24|        10| 38000|
|   Riya| 27|         7| 29000|
+-------+---+----------+------+

In [7]:
# filter: salary of the people less than 20000
df.filter(df['Salary'] <= 20000).show()

# way no. 2
df.filter("Salary <= 20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Ridoy| 24|        10| 20000|
| Imran| 25|         7| 20000|
|Saiful| 27|         4| 15000|
|  Mitu| 23|         2| 18000|
+------+---+----------+------+

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Ridoy| 24|        10| 20000|
| Imran| 25|         7| 20000|
|Saiful| 27|         4| 15000|
|  Mitu| 23|         2| 18000|
+------+---+----------+------+

In [8]:
# apply filter on selected columns
df.filter(df['Salary'] <= 20000).select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
| Ridoy| 24|
| Imran| 25|
|Saiful| 27|
|  Mitu| 23|
+------+---+

In [10]:
# range filtering: using '&'
df.filter((df['Salary'] <= 20000) & (df['Salary'] > 15000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Ridoy| 24|        10| 20000|
|Imran| 25|         7| 20000|
| Mitu| 23|         2| 18000|
+-----+---+----------+------+

In [12]:
# not ~
df.filter(~(df['Salary'] == 20000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Tarek| 23|         5| 30000|
|  Forid| 24|         8| 25000|
| Saiful| 27|         4| 15000|
|   Mitu| 23|         2| 18000|
|Khadiza| 27|         9| 48000|
|   Ritu| 24|        10| 38000|
|   Riya| 27|         7| 29000|
+-------+---+----------+------+

In [16]:
# or |
df.show()
df.filter((df['Salary'] < 20000) | (df['Salary'] > 30000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Tarek| 23|         5| 30000|
|  Forid| 24|         8| 25000|
|  Ridoy| 24|        10| 20000|
|  Imran| 25|         7| 20000|
| Saiful| 27|         4| 15000|
|   Mitu| 23|         2| 18000|
|Khadiza| 27|         9| 48000|
|   Ritu| 24|        10| 38000|
|   Riya| 27|         7| 29000|
+-------+---+----------+------+

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Saiful| 27|         4| 15000|
|   Mitu| 23|         2| 18000|
|Khadiza| 27|         9| 48000|
|   Ritu| 24|        10| 38000|
+-------+---+----------+------+