### DataFrame
    * GroupBy
    * Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession \
        .builder \
        .appName('groupby_and_aggregateFunction') \
        .getOrCreate()

In [7]:
df = spark.read.csv('test_dataset_04.csv', header=True, inferSchema=True)

df.show()
df.printSchema()

+-------+------------+----------+------+
|   Name| Departments|Experience|Salary|
+-------+------------+----------+------+
|  Tarek|         IOT|         5| 22000|
|  Forid|    Big Data|         8| 25000|
|  Ridoy|    Big Data|        10| 27000|
|  Imran|Data Science|         7| 33000|
| Saiful|Data Science|         4| 36000|
|   Mitu|         IOT|         2| 18000|
|Khadiza|          ML|         9| 48000|
|   Ritu|          ML|        10| 38000|
|   Riya|         IOT|         7| 29000|
+-------+------------+----------+------+

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
# GroupBy
df.groupBy('Departments').sum().show()

+------------+---------------+-----------+
| Departments|sum(Experience)|sum(Salary)|
+------------+---------------+-----------+
|         IOT|             14|      69000|
|    Big Data|             18|      52000|
|          ML|             19|      86000|
|Data Science|             11|      69000|
+------------+---------------+-----------+

In [13]:
# mean()
df.groupBy('Departments').mean().show()

+------------+-----------------+-----------+
| Departments|  avg(Experience)|avg(Salary)|
+------------+-----------------+-----------+
|         IOT|4.666666666666667|    23000.0|
|    Big Data|              9.0|    26000.0|
|          ML|              9.5|    43000.0|
|Data Science|              5.5|    34500.0|
+------------+-----------------+-----------+

In [15]:
# min()
df.show()
df.groupBy('Departments').min().show()

+-------+------------+----------+------+
|   Name| Departments|Experience|Salary|
+-------+------------+----------+------+
|  Tarek|         IOT|         5| 22000|
|  Forid|    Big Data|         8| 25000|
|  Ridoy|    Big Data|        10| 27000|
|  Imran|Data Science|         7| 33000|
| Saiful|Data Science|         4| 36000|
|   Mitu|         IOT|         2| 18000|
|Khadiza|          ML|         9| 48000|
|   Ritu|          ML|        10| 38000|
|   Riya|         IOT|         7| 29000|
+-------+------------+----------+------+

+------------+---------------+-----------+
| Departments|min(Experience)|min(Salary)|
+------------+---------------+-----------+
|         IOT|              2|      18000|
|    Big Data|              8|      25000|
|          ML|              9|      38000|
|Data Science|              4|      33000|
+------------+---------------+-----------+